<section id="callToAction" data-aos="fade-up">
    <div class="container middle">
        <div class="row ">
            <div class="col-md-12">
                <h1>
                  {{.Page.Params.calltoaction}}
                </h1>
                <h3>
                  If you are interested in creating a future, open, quality data write to us.
                  <br>
                  <span class="highlight-yellow">ghostchef [at] bitsandbites . com</span>
                </h3>
            </div>
        </div>
    </div>
</section>
