<section id="callToAction" data-aos="fade-up">
    <div class="container middle">
        <div class="row ">
            <div class="col-md-12">
                <h3>
                  {{.Page.Params.calltoaction.sentence}}
                </h3>
                <div class="buttons">
                  <a href="{{.Page.Params.calltoaction.link}}" class="boxSpan">
                    {{.Page.Params.calltoaction.buttonlabel}}
                  </a>
                </div>
            </div>
        </div>
    </div>
</section>
