<section id="credits" data-aos="fade-up">
    <div class="container middle">

        <div class="row row-centered">
          <div class="col-md-12 claim">
            a project by:
          </div>
        </div>
        <div class="row">
            {{ range .Page.Params.credits}}
                <div class="col-sm-6 col-xs-6 center-block">
                  <a href="{{.link}}">
                    <figure>
                        <img class="img-responsive" src="{{$.Site.BaseURL}}img/{{$.Page.Params.datafolder}}/{{.logo}}"/>
                    </figure>
                  </a>
                </div>
            {{end}}
        </div>

    </div>
</section>
