<section id="hero" class="section">
    <div class="container">
        <div class="row">
            <h1 id="title">
                {{.Site.Params.title}}
            </h1>
        </div>
        <div class="row">
            <h2 id="subtitle">
                {{.Site.Params.subtitle}}

            </h2>
        </div>
        <div class="row">
            <div class="input_animation">
                <div class="caption"></div>
                <div class="input"></div>
            </div>
        </div>
    </div>
</section>
