<section id="about" data-aos="fade-up">
    <div class="row fill">
        <div class="col-md-6 fill placeholder-img">
          <div class="middle">
            <h2>
               here should go the hipster icon
             </h2>
          </div>
        </div>
        <div class="col-md-6 fill">
            <div class="sidetext middle">

                <h2>
                    {{.Site.Params.about.title}}
                </h2>
                <span>
                    {{.Site.Params.about.paragraph}}
                </span>
            </div>
        </div>
    </div>
</section>
