<div class="bb_footer">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 style="font-size:28px;letter-spacing:1px;margin-top:0;">Shaping the Future of Good Food</h1>
            </div>
            <div class="col-md-5   footerRightSec">
                <a href="https://www.linkedin.com/company/bits-x-bites" class="social-network-link sn-linkedIn">LinkedIn</a>
                <a href="https://www.facebook.com/bitsxbites/" class="social-network-link sn-facebook">Facebook</a>
                <a href="https://twitter.com/bitsxbites" class="social-network-link sn-twitter">Twitter</a>
                <a class="social-network-link sn-wechat" id="bxbQRCode">
                    <div class="qrcode">
                        <div class="closeQR">
                        </div>
                        <img src="{{.Site.BaseURL}}img/qr-bxb.jpg"/>
                      </div>
                      Wechat
                    </a>
            </div>
        </div>
        <div class="row" style="color:#dedede;margin-top:20px;">
            <div class="col-md-6">
                <!-- <div class="newsletter_set">
                    <p>Sign up for our newsletter.</p>
                    <div class="bar_block"><input type="email" class="subscribe_input" name="email" placeholder="your email" /><input type="submit" class="subscribe_button newsletter_button" value="sign up" /></div>
                    <p class="mailchimp_message"></p>
                </div> -->
            </div>
            <div class="col-md-6   footerRightSec">
                <p>give us a holler at yo@bitsxbites.com<br/>
                    <span style="font-size:12px;color:#e9e5e2;">©2016 Bits x Bites. All rights reserved.</span>
                </p>
            </div>
        </div>
    </div>
</div>

{{ partial "scripts.html" .}}
</body>
</html>
