<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{.Site.Params.title}}</title>
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico"/>
        <link rel="shortcut icon" type="image/x-icon" href="http://bitsxbites.com/favicon.ico?v=2"/>
        <meta charset="UTF-8"/>
        <meta name="description" content="{{.Site.Params.subtitle}}"/>
        <meta name="keywords" content="ghostchef,AI,bitsxbites,research,food,technology"/>

        <meta property="og:type" content="article"/>
        <meta property="og:title" content="ghostchef"/>
        <meta property="og:description" content="{{.Site.Params.subtitle}}"/>

        <meta property="og:image" content="http://www.bitsxbites.com/public/img/fb-thumbnail2.jpg"/>

        <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/style.css">

        <link rel="stylesheet" href="{{ .Site.BaseURL }}js/aos.css"/>

        <!-- This following line is optional. Only necessary if you use the option css3:false and you want to use other easing effects rather than "linear", "swing" or "easeInOutCubic". -->
        <!-- <script src="js/fullPage.js/vendors/jquery.easings.min.js"></script> -->

        <!-- This following line is only necessary in the case of using the plugin option `scrollOverflow:true` -->
        <!-- <script type="text/javascript" src="js/fullPage.js/vendors/scrolloverflow.min.js"></script> -->

        <link rel="stylesheet" href="{{.Site.BaseURL}}js/OwlCarousel/dist/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="{{.Site.BaseURL}}js/OwlCarousel/dist/assets/owl.theme.default.min.css">

        <link rel="stylesheet" href="{{.Site.BaseURL}}js/lightgallery/css/lightgallery.min.css">
        <link rel="stylesheet" href="{{.Site.BaseURL}}js/lightgallery/css/lg-transitions.min.css">

        <meta name="msapplication-TileColor" content="#000">
        <meta name="theme-color" content="#000">

    </head>
    <body>
