<section id="hero" data-aos="fade-up">


  <div class="videoBackground">
    <video loop muted autoplay  id="main-video">
        <source src="{{.Site.BaseURL}}video/hb1.webm" type="video/webm">
        Your browser does not support the video tag.
    </video>
  </div>

    <div class="container middle">
        <div class="row">
            <h1 id="title">
                {{.Site.Params.title}}
            </h1>
        </div>
        <div class="row">
            <h2 id="subtitle">
                {{.Site.Params.subtitle}}

            </h2>
        </div>
        <!-- <div class="row">
            <input type="text" class="ghostchef"></input>
        </div> -->
    </div>
</section>
